<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuhui.dao.trj.AppInstallLogMapper" >
  <resultMap id="BaseResultMap" type="com.fuhui.entity.trj.AppInstallLog" >
    <id column="I_Idx" property="iIdx" jdbcType="BIGINT" />
    <result column="C_Mac" property="cMac" jdbcType="VARCHAR" />
    <result column="I_AppId" property="iAppid" jdbcType="BIGINT" />
    <result column="I_VersionId" property="iVersionid" jdbcType="BIGINT" />
    <result column="I_Way" property="iWay" jdbcType="TINYINT" />
    <result column="I_Status" property="iStatus" jdbcType="TINYINT" />
    <result column="T_Time" property="tTime" jdbcType="TIMESTAMP" />
    <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP" />
    <result column="I_PadId" property="iPadid" jdbcType="BIGINT" />
    <result column="I_IsSys" property="iIssys" jdbcType="TINYINT" />
    <result column="C_Package" property="pName" jdbcType="VARCHAR" />
    <result column="C_AppName" property="cAppname" jdbcType="VARCHAR" />
    <result column="C_Version" property="cVersion" jdbcType="VARCHAR" />
    <result column="C_VersionCode" property="cVersioncode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    I_Idx, C_Mac, I_AppId, I_VersionId, I_Way, I_Status, T_Time, T_CTime, I_PadId, I_IsSys, 
    C_Package, C_AppName, C_Version, C_VersionCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_rj_app_installlog
    where I_Idx = #{iIdx,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_rj_app_installlog
    where I_Idx = #{iIdx,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fuhui.entity.trj.AppInstallLog" >
    insert into t_rj_app_installlog (I_Idx, C_Mac, I_AppId, 
      I_VersionId, I_Way, I_Status, 
      T_Time, T_CTime, I_PadId, 
      I_IsSys, C_Package, C_AppName, 
      C_Version, C_VersionCode)
    values (#{iIdx,jdbcType=BIGINT}, #{cMac,jdbcType=VARCHAR}, #{iAppid,jdbcType=BIGINT}, 
      #{iVersionid,jdbcType=BIGINT}, #{iWay,jdbcType=TINYINT}, #{iStatus,jdbcType=TINYINT}, 
      #{tTime,jdbcType=TIMESTAMP}, #{tCtime,jdbcType=TIMESTAMP}, #{iPadid,jdbcType=BIGINT}, 
      #{iIssys,jdbcType=TINYINT}, #{pName,jdbcType=VARCHAR}, #{cAppname,jdbcType=VARCHAR}, 
      #{cVersion,jdbcType=VARCHAR}, #{cVersioncode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fuhui.entity.trj.AppInstallLog" >
    insert into t_rj_app_installlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iIdx != null" >
        I_Idx,
      </if>
      <if test="cMac != null" >
        C_Mac,
      </if>
      <if test="iAppid != null" >
        I_AppId,
      </if>
      <if test="iVersionid != null" >
        I_VersionId,
      </if>
      <if test="iWay != null" >
        I_Way,
      </if>
      <if test="iStatus != null" >
        I_Status,
      </if>
      <if test="tTime != null" >
        T_Time,
      </if>
      <if test="tCtime != null" >
        T_CTime,
      </if>
      <if test="iPadid != null" >
        I_PadId,
      </if>
      <if test="iIssys != null" >
        I_IsSys,
      </if>
      <if test="pName != null" >
        C_Package,
      </if>
      <if test="cAppname != null" >
        C_AppName,
      </if>
      <if test="cVersion != null" >
        C_Version,
      </if>
      <if test="cVersioncode != null" >
        C_VersionCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iIdx != null" >
        #{iIdx,jdbcType=BIGINT},
      </if>
      <if test="cMac != null" >
        #{cMac,jdbcType=VARCHAR},
      </if>
      <if test="iAppid != null" >
        #{iAppid,jdbcType=BIGINT},
      </if>
      <if test="iVersionid != null" >
        #{iVersionid,jdbcType=BIGINT},
      </if>
      <if test="iWay != null" >
        #{iWay,jdbcType=TINYINT},
      </if>
      <if test="iStatus != null" >
        #{iStatus,jdbcType=TINYINT},
      </if>
      <if test="tTime != null" >
        #{tTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tCtime != null" >
        #{tCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="iPadid != null" >
        #{iPadid,jdbcType=BIGINT},
      </if>
      <if test="iIssys != null" >
        #{iIssys,jdbcType=TINYINT},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="cAppname != null" >
        #{cAppname,jdbcType=VARCHAR},
      </if>
      <if test="cVersion != null" >
        #{cVersion,jdbcType=VARCHAR},
      </if>
      <if test="cVersioncode != null" >
        #{cVersioncode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuhui.entity.trj.AppInstallLog" >
    update t_rj_app_installlog
    <set >
      <if test="cMac != null" >
        C_Mac = #{cMac,jdbcType=VARCHAR},
      </if>
      <if test="iAppid != null" >
        I_AppId = #{iAppid,jdbcType=BIGINT},
      </if>
      <if test="iVersionid != null" >
        I_VersionId = #{iVersionid,jdbcType=BIGINT},
      </if>
      <if test="iWay != null" >
        I_Way = #{iWay,jdbcType=TINYINT},
      </if>
      <if test="iStatus != null" >
        I_Status = #{iStatus,jdbcType=TINYINT},
      </if>
      <if test="tTime != null" >
        T_Time = #{tTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tCtime != null" >
        T_CTime = #{tCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="iPadid != null" >
        I_PadId = #{iPadid,jdbcType=BIGINT},
      </if>
      <if test="iIssys != null" >
        I_IsSys = #{iIssys,jdbcType=TINYINT},
      </if>
      <if test="pName != null" >
        C_Package = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="cAppname != null" >
        C_AppName = #{cAppname,jdbcType=VARCHAR},
      </if>
      <if test="cVersion != null" >
        C_Version = #{cVersion,jdbcType=VARCHAR},
      </if>
      <if test="cVersioncode != null" >
        C_VersionCode = #{cVersioncode,jdbcType=VARCHAR},
      </if>
    </set>
    where I_Idx = #{iIdx,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuhui.entity.trj.AppInstallLog" >
    update t_rj_app_installlog
    set C_Mac = #{cMac,jdbcType=VARCHAR},
      I_AppId = #{iAppid,jdbcType=BIGINT},
      I_VersionId = #{iVersionid,jdbcType=BIGINT},
      I_Way = #{iWay,jdbcType=TINYINT},
      I_Status = #{iStatus,jdbcType=TINYINT},
      T_Time = #{tTime,jdbcType=TIMESTAMP},
      T_CTime = #{tCtime,jdbcType=TIMESTAMP},
      I_PadId = #{iPadid,jdbcType=BIGINT},
      I_IsSys = #{iIssys,jdbcType=TINYINT},
      C_Package = #{pName,jdbcType=VARCHAR},
      C_AppName = #{cAppname,jdbcType=VARCHAR},
      C_Version = #{cVersion,jdbcType=VARCHAR},
      C_VersionCode = #{cVersioncode,jdbcType=VARCHAR}
    where I_Idx = #{iIdx,jdbcType=BIGINT}
  </update>

  <select id="getDownCount" resultType="String">
    SELECT COUNT(C_Mac) FROM t_rj_app_installlog WHERE I_Status = 1
    AND C_Package = #{pName}
  </select>
</mapper>