<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuhui.dao.tcs.FactoryMapper">
    <resultMap id="BaseResultMap" type="com.fuhui.entity.tcs.Factory">
        <id column="I_FactoryId" property="iFactoryid" jdbcType="BIGINT"/>
        <result column="C_Name" property="cName" jdbcType="VARCHAR"/>
        <result column="C_Code" property="cCode" jdbcType="VARCHAR"/>
        <result column="C_Address" property="cAddress" jdbcType="VARCHAR"/>
        <result column="C_Phone" property="cPhone" jdbcType="VARCHAR"/>
        <result column="C_FAX" property="cFax" jdbcType="VARCHAR"/>
        <result column="I_RegionId" property="iRegionid" jdbcType="BIGINT"/>
        <result column="I_RegionPId" property="iRegionpid" jdbcType="BIGINT"/>
        <result column="I_RegionCId" property="iRegioncid" jdbcType="BIGINT"/>
        <result column="I_Type" property="iType" jdbcType="TINYINT"/>
        <result column="C_DType" property="cDtype" jdbcType="VARCHAR"/>
        <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
        <result column="I_CUserId" property="iCuserid" jdbcType="BIGINT"/>
        <result column="T_UTime" property="tUtime" jdbcType="TIMESTAMP"/>
        <result column="I_UUserId" property="iUuserid" jdbcType="BIGINT"/>
        <result column="C_Remark" property="cRemark" jdbcType="VARCHAR"/>
        <result column="I_Status" property="iStatus" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    I_FactoryId, C_Name, C_Code, C_Address, C_Phone, C_FAX, I_RegionId, I_RegionPId, 
    I_RegionCId, I_Type, C_DType, T_CTime, I_CUserId, T_UTime, I_UUserId, C_Remark, I_Status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_cs_factory
        where I_FactoryId = #{iFactoryid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_cs_factory
    where I_FactoryId = #{iFactoryid,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.fuhui.entity.tcs.Factory">
    insert into t_cs_factory (I_FactoryId, C_Name, C_Code, 
      C_Address, C_Phone, C_FAX, 
      I_RegionId, I_RegionPId, I_RegionCId, 
      I_Type, C_DType, T_CTime, 
      I_CUserId, T_UTime, I_UUserId, 
      C_Remark, I_Status)
    values (#{iFactoryid,jdbcType=BIGINT}, #{cName,jdbcType=VARCHAR}, #{cCode,jdbcType=VARCHAR}, 
      #{cAddress,jdbcType=VARCHAR}, #{cPhone,jdbcType=VARCHAR}, #{cFax,jdbcType=VARCHAR}, 
      #{iRegionid,jdbcType=BIGINT}, #{iRegionpid,jdbcType=BIGINT}, #{iRegioncid,jdbcType=BIGINT}, 
      #{iType,jdbcType=TINYINT}, #{cDtype,jdbcType=VARCHAR}, #{tCtime,jdbcType=TIMESTAMP}, 
      #{iCuserid,jdbcType=BIGINT}, #{tUtime,jdbcType=TIMESTAMP}, #{iUuserid,jdbcType=BIGINT}, 
      #{cRemark,jdbcType=VARCHAR}, #{iStatus,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.fuhui.entity.tcs.Factory">
        insert into t_cs_factory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iFactoryid != null">
                I_FactoryId,
            </if>
            <if test="cName != null">
                C_Name,
            </if>
            <if test="cCode != null">
                C_Code,
            </if>
            <if test="cAddress != null">
                C_Address,
            </if>
            <if test="cPhone != null">
                C_Phone,
            </if>
            <if test="cFax != null">
                C_FAX,
            </if>
            <if test="iRegionid != null">
                I_RegionId,
            </if>
            <if test="iRegionpid != null">
                I_RegionPId,
            </if>
            <if test="iRegioncid != null">
                I_RegionCId,
            </if>
            <if test="iType != null">
                I_Type,
            </if>
            <if test="cDtype != null">
                C_DType,
            </if>
            <if test="tCtime != null">
                T_CTime,
            </if>
            <if test="iCuserid != null">
                I_CUserId,
            </if>
            <if test="tUtime != null">
                T_UTime,
            </if>
            <if test="iUuserid != null">
                I_UUserId,
            </if>
            <if test="cRemark != null">
                C_Remark,
            </if>
            <if test="iStatus != null">
                I_Status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iFactoryid != null">
                #{iFactoryid,jdbcType=BIGINT},
            </if>
            <if test="cName != null">
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cCode != null">
                #{cCode,jdbcType=VARCHAR},
            </if>
            <if test="cAddress != null">
                #{cAddress,jdbcType=VARCHAR},
            </if>
            <if test="cPhone != null">
                #{cPhone,jdbcType=VARCHAR},
            </if>
            <if test="cFax != null">
                #{cFax,jdbcType=VARCHAR},
            </if>
            <if test="iRegionid != null">
                #{iRegionid,jdbcType=BIGINT},
            </if>
            <if test="iRegionpid != null">
                #{iRegionpid,jdbcType=BIGINT},
            </if>
            <if test="iRegioncid != null">
                #{iRegioncid,jdbcType=BIGINT},
            </if>
            <if test="iType != null">
                #{iType,jdbcType=TINYINT},
            </if>
            <if test="cDtype != null">
                #{cDtype,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                #{tCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iCuserid != null">
                #{iCuserid,jdbcType=BIGINT},
            </if>
            <if test="tUtime != null">
                #{tUtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iUuserid != null">
                #{iUuserid,jdbcType=BIGINT},
            </if>
            <if test="cRemark != null">
                #{cRemark,jdbcType=VARCHAR},
            </if>
            <if test="iStatus != null">
                #{iStatus,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fuhui.entity.tcs.Factory">
        update t_cs_factory
        <set>
            <if test="cName != null">
                C_Name = #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cCode != null">
                C_Code = #{cCode,jdbcType=VARCHAR},
            </if>
            <if test="cAddress != null">
                C_Address = #{cAddress,jdbcType=VARCHAR},
            </if>
            <if test="cPhone != null">
                C_Phone = #{cPhone,jdbcType=VARCHAR},
            </if>
            <if test="cFax != null">
                C_FAX = #{cFax,jdbcType=VARCHAR},
            </if>
            <if test="iRegionid != null">
                I_RegionId = #{iRegionid,jdbcType=BIGINT},
            </if>
            <if test="iRegionpid != null">
                I_RegionPId = #{iRegionpid,jdbcType=BIGINT},
            </if>
            <if test="iRegioncid != null">
                I_RegionCId = #{iRegioncid,jdbcType=BIGINT},
            </if>
            <if test="iType != null">
                I_Type = #{iType,jdbcType=TINYINT},
            </if>
            <if test="cDtype != null">
                C_DType = #{cDtype,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                T_CTime = #{tCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iCuserid != null">
                I_CUserId = #{iCuserid,jdbcType=BIGINT},
            </if>
            <if test="tUtime != null">
                T_UTime = #{tUtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iUuserid != null">
                I_UUserId = #{iUuserid,jdbcType=BIGINT},
            </if>
            <if test="cRemark != null">
                C_Remark = #{cRemark,jdbcType=VARCHAR},
            </if>
            <if test="iStatus != null">
                I_Status = #{iStatus,jdbcType=TINYINT},
            </if>
        </set>
        where I_FactoryId = #{iFactoryid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fuhui.entity.tcs.Factory">
    update t_cs_factory
    set C_Name = #{cName,jdbcType=VARCHAR},
      C_Code = #{cCode,jdbcType=VARCHAR},
      C_Address = #{cAddress,jdbcType=VARCHAR},
      C_Phone = #{cPhone,jdbcType=VARCHAR},
      C_FAX = #{cFax,jdbcType=VARCHAR},
      I_RegionId = #{iRegionid,jdbcType=BIGINT},
      I_RegionPId = #{iRegionpid,jdbcType=BIGINT},
      I_RegionCId = #{iRegioncid,jdbcType=BIGINT},
      I_Type = #{iType,jdbcType=TINYINT},
      C_DType = #{cDtype,jdbcType=VARCHAR},
      T_CTime = #{tCtime,jdbcType=TIMESTAMP},
      I_CUserId = #{iCuserid,jdbcType=BIGINT},
      T_UTime = #{tUtime,jdbcType=TIMESTAMP},
      I_UUserId = #{iUuserid,jdbcType=BIGINT},
      C_Remark = #{cRemark,jdbcType=VARCHAR},
      I_Status = #{iStatus,jdbcType=TINYINT}
    where I_FactoryId = #{iFactoryid,jdbcType=BIGINT}
  </update>

    <resultMap id="BaseResultMaps" type="com.fuhui.entity.tcs.Factory">
        <id column="I_FactoryId" property="iFactoryid" jdbcType="BIGINT"/>
        <result column="C_Name" property="cName" jdbcType="VARCHAR"/>
        <result column="C_Code" property="cCode" jdbcType="VARCHAR"/>
        <result column="C_Address" property="cAddress" jdbcType="VARCHAR"/>
        <result column="C_Phone" property="cPhone" jdbcType="VARCHAR"/>
        <result column="C_FAX" property="cFax" jdbcType="VARCHAR"/>
        <result column="I_RegionId" property="iRegionid" jdbcType="BIGINT"/>
        <result column="I_RegionPId" property="iRegionpid" jdbcType="BIGINT"/>
        <result column="I_RegionCId" property="iRegioncid" jdbcType="BIGINT"/>
        <result column="I_Type" property="iType" jdbcType="TINYINT"/>
        <result column="C_DType" property="cDtype" jdbcType="VARCHAR"/>
        <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
        <result column="I_CUserId" property="iCuserid" jdbcType="BIGINT"/>
        <result column="T_UTime" property="tUtime" jdbcType="TIMESTAMP"/>
        <result column="I_UUserId" property="iUuserid" jdbcType="BIGINT"/>
        <result column="C_Remark" property="cRemark" jdbcType="VARCHAR"/>
        <result column="I_Status" property="iStatus" jdbcType="TINYINT"/>
        <result column="contName" property="contName"/>
        <result column="deivecNum" property="deivecNum"/>
        <result column="contPhone" property="contPhone"/>
    </resultMap>

    <select id="getFactoryList" resultMap="BaseResultMaps">
        SELECT a.I_FactoryId,a.C_Name,a.C_Address,a.T_CTime,a.T_UTime,a.I_Status,a.I_Type,a.C_DType
        C_DType,a.C_Phone,a.C_FAX,b.C_Contact contName,c.deviceNum deivecNum,b.C_Phone contPhone
        FROM t_cs_factory a
        LEFT JOIN t_cs_contacts b
        ON a.I_FactoryId = b.I_FactoryId
        LEFT JOIN (SELECT t.I_FactoryId,COUNT(t.I_FDeviceId) deviceNum FROM t_cs_device t GROUP BY t.I_FactoryId) c
        ON a.I_FactoryId = c.I_FactoryId
        <if test="factoryId != null">
            WHERE a.I_FactoryId=#{factoryId}
        </if>
        ORDER BY a.T_CTime DESC
        <if test="isPage == 1">
            LIMIT #{pNum},#{pLine}
        </if>
    </select>

    <select id="getFactoryListCount" resultType="String">
        SELECT COUNT(*) FROM t_cs_factory a
        LEFT JOIN t_cs_contacts b
        ON a.I_FactoryId = b.I_FactoryId
        LEFT JOIN (SELECT I_FactoryId,COUNT(I_FDeviceId) deviceNum FROM t_cs_device GROUP BY I_FactoryId) c
        ON a.I_FactoryId = c.I_FactoryId
        <if test="factoryId != null">
            WHERE a.I_FactoryId=#{factoryId}
        </if>
    </select>

    <select id="getDeviceNum" resultType="String">
        SELECT COUNT(t.I_PadId) deviceNum
        FROM t_pd_pad t
        WHERE t.I_FactoryId=#{factoryId}
    </select>
</mapper>