<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuhui.dao.tut.IpAddressMapper">
    <resultMap id="BaseResultMap" type="com.fuhui.entity.tut.IpAddress">
        <id column="I_Id" property="iId" jdbcType="BIGINT"/>
        <result column="C_Ip" property="cIp" jdbcType="VARCHAR"/>
        <result column="C_Address" property="cAddress" jdbcType="VARCHAR"/>
        <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    I_Id, C_Ip, C_Address, T_CTime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_ut_ipaddress
        where I_Id = #{iId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ut_ipaddress
    where I_Id = #{iId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.fuhui.entity.tut.IpAddress">
    insert into t_ut_ipaddress (I_Id, C_Ip, C_Address, 
      T_CTime)
    values (#{iId,jdbcType=BIGINT}, #{cIp,jdbcType=VARCHAR}, #{cAddress,jdbcType=VARCHAR}, 
      #{tCtime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.fuhui.entity.tut.IpAddress">
        insert into t_ut_ipaddress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iId != null">
                I_Id,
            </if>
            <if test="cIp != null">
                C_Ip,
            </if>
            <if test="cAddress != null">
                C_Address,
            </if>
            <if test="tCtime != null">
                T_CTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iId != null">
                #{iId,jdbcType=BIGINT},
            </if>
            <if test="cIp != null">
                #{cIp,jdbcType=VARCHAR},
            </if>
            <if test="cAddress != null">
                #{cAddress,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                #{tCtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fuhui.entity.tut.IpAddress">
        update t_ut_ipaddress
        <set>
            <if test="cIp != null">
                C_Ip = #{cIp,jdbcType=VARCHAR},
            </if>
            <if test="cAddress != null">
                C_Address = #{cAddress,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                T_CTime = #{tCtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where I_Id = #{iId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fuhui.entity.tut.IpAddress">
    update t_ut_ipaddress
    set C_Ip = #{cIp,jdbcType=VARCHAR},
      C_Address = #{cAddress,jdbcType=VARCHAR},
      T_CTime = #{tCtime,jdbcType=TIMESTAMP}
    where I_Id = #{iId,jdbcType=BIGINT}
  </update>

    <select id="selectByIpAndAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_ut_ipaddress
        where C_Ip=#{ip} AND C_Address=#{address}
    </select>
</mapper>