<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuhui.dao.txm.AppconfigMapper">
    <resultMap id="BaseResultMap" type="com.fuhui.entity.txm.Appconfig">
        <id column="I_ConfigId" property="iConfigid" jdbcType="BIGINT"/>
        <result column="C_Name" property="cName" jdbcType="VARCHAR"/>
        <result column="I_SchoolId" property="iSchoolid" jdbcType="BIGINT"/>
        <result column="I_Range" property="iRange" jdbcType="TINYINT"/>
        <result column="C_RangeIds" property="cRangeids" jdbcType="VARCHAR"/>
        <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
        <result column="I_CUserId" property="iCuserid" jdbcType="BIGINT"/>
        <result column="T_UTime" property="tUtime" jdbcType="TIMESTAMP"/>
        <result column="I_UUserId" property="iUuserid" jdbcType="BIGINT"/>
        <result column="C_Remark" property="cRemark" jdbcType="VARCHAR"/>
        <result column="I_Status" property="iStatus" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    I_ConfigId, C_Name, I_SchoolId, I_Range, C_RangeIds, T_CTime, I_CUserId, T_UTime, 
    I_UUserId, C_Remark, I_Status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_xm_appconfig
        where I_ConfigId = #{iConfigid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_xm_appconfig
    where I_ConfigId = #{iConfigid,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.fuhui.entity.txm.Appconfig">
    insert into t_xm_appconfig (I_ConfigId, C_Name, I_SchoolId, 
      I_Range, C_RangeIds,
      I_CUserId,  I_UUserId,
      C_Remark, I_Status ,T_CTime ,T_UTime)
    values (#{iConfigid,jdbcType=BIGINT}, #{cName,jdbcType=VARCHAR}, #{iSchoolid,jdbcType=BIGINT}, 
      #{iRange,jdbcType=TINYINT}, #{cRangeids,jdbcType=VARCHAR},
      #{iCuserid,jdbcType=BIGINT}, #{iUuserid,jdbcType=BIGINT},
      #{cRemark,jdbcType=VARCHAR}, #{iStatus,jdbcType=TINYINT} , #{tCtime,jdbcType=TIMESTAMP}, #{tUtime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="add" parameterType="com.fuhui.entity.txm.Appconfig">
        insert into t_xm_appconfig
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iConfigid != null">
                I_ConfigId,
            </if>
            <if test="cName != null">
                C_Name,
            </if>
            <if test="iSchoolid != null">
                I_SchoolId,
            </if>
            <if test="iRange != null">
                I_Range,
            </if>
            <if test="cRangeids != null">
                C_RangeIds,
            </if>
            <if test="tCtime != null">
                T_CTime,
            </if>
            <if test="iCuserid != null">
                I_CUserId,
            </if>
            <if test="tUtime != null">
                T_UTime,
            </if>
            <if test="iUuserid != null">
                I_UUserId,
            </if>
            <if test="cRemark != null">
                C_Remark,
            </if>
            <if test="iStatus != null">
                I_Status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iConfigid != null">
                #{iConfigid,jdbcType=BIGINT},
            </if>
            <if test="cName != null">
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="iSchoolid != null">
                #{iSchoolid,jdbcType=BIGINT},
            </if>
            <if test="iRange != null">
                #{iRange,jdbcType=TINYINT},
            </if>
            <if test="cRangeids != null">
                #{cRangeids,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                #{tCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iCuserid != null">
                #{iCuserid,jdbcType=BIGINT},
            </if>
            <if test="tUtime != null">
                #{tUtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iUuserid != null">
                #{iUuserid,jdbcType=BIGINT},
            </if>
            <if test="cRemark != null">
                #{cRemark,jdbcType=VARCHAR},
            </if>
            <if test="iStatus != null">
                #{iStatus,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.fuhui.entity.txm.Appconfig">
        update t_xm_appconfig
        <set>
            <if test="cName != null">
                C_Name = #{cName,jdbcType=VARCHAR},
            </if>
           <!-- <if test="iSchoolid != null">
                //I_SchoolId = #{iSchoolid,jdbcType=BIGINT},
            </if>-->
            <if test="iRange != null">
                I_Range = #{iRange,jdbcType=TINYINT},
            </if>
            <if test="cRangeids != null">
                C_RangeIds = #{cRangeids,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                T_CTime = #{tCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iCuserid != null">
                I_CUserId = #{iCuserid,jdbcType=BIGINT},
            </if>
            <if test="tUtime != null">
                T_UTime = #{tUtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iUuserid != null">
                I_UUserId = #{iUuserid,jdbcType=BIGINT},
            </if>
            <if test="cRemark != null">
                C_Remark = #{cRemark,jdbcType=VARCHAR},
            </if>
            <if test="iStatus != null">
                I_Status = #{iStatus,jdbcType=TINYINT},
            </if>
        </set>
        where I_ConfigId = #{iConfigid,jdbcType=BIGINT}
    </update>
    <update id="setStatus" parameterType="com.fuhui.entity.txm.Appconfig">
        update t_xm_appconfig
        <set>
            <if test="cName != null">
                C_Name = #{cName,jdbcType=VARCHAR},
            </if>
            <if test="iSchoolid != null">
                I_SchoolId = #{iSchoolid,jdbcType=BIGINT},
            </if>
            <if test="iRange != null">
                I_Range = #{iRange,jdbcType=TINYINT},
            </if>
            <if test="cRangeids != null">
                C_RangeIds = #{cRangeids,jdbcType=VARCHAR},
            </if>
            <if test="tCtime != null">
                T_CTime = #{tCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iCuserid != null">
                I_CUserId = #{iCuserid,jdbcType=BIGINT},
            </if>
            <if test="tUtime != null">
                T_UTime = #{tUtime,jdbcType=TIMESTAMP},
            </if>
            <if test="iUuserid != null">
                I_UUserId = #{iUuserid,jdbcType=BIGINT},
            </if>
            <if test="cRemark != null">
                C_Remark = #{cRemark,jdbcType=VARCHAR},
            </if>
            <if test="iStatus != null">
                I_Status = #{iStatus,jdbcType=TINYINT},
            </if>
        </set>
        where I_ConfigId = #{iConfigid,jdbcType=BIGINT}
    </update>


    <resultMap id="getListMap" type="com.fuhui.entity.txm.Appconfig">
        <id column="I_ConfigId" property="iConfigid" jdbcType="BIGINT"/>
        <result column="C_Name" property="cName" jdbcType="VARCHAR"/>
        <result column="I_SchoolId" property="iSchoolid" jdbcType="BIGINT"/>
        <result column="I_Range" property="iRange" jdbcType="TINYINT"/>
        <result column="C_RangeIds" property="cRangeids" jdbcType="VARCHAR"/>
        <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
        <result column="I_CUserId" property="iCuserid" jdbcType="BIGINT"/>
        <result column="T_UTime" property="tUtime" jdbcType="TIMESTAMP"/>
        <result column="I_UUserId" property="iUuserid" jdbcType="BIGINT"/>
        <result column="C_Remark" property="cRemark" jdbcType="VARCHAR"/>
        <result column="I_Status" property="iStatus" jdbcType="TINYINT"/>
        <collection property="app" ofType="com.fuhui.entity.txu.App">
            <id column="I_IDX" property="iIdx" jdbcType="BIGINT"/>
            <result column="I_Type" property="iType" jdbcType="TINYINT"/>
            <result column="allApp" property="allApp"/>
            <result column="sysCount" property="sysCount"/>
            <result column="extCount" property="extCount"/>
        </collection>
    </resultMap>

    <select id="getList" resultMap="getListMap">
        SELECT a.*,COUNT(b.I_Type) allApp,SUM(IF(b.I_Type=1,1,0)) sysCount,SUM(IF(b.I_Type=2,1,0)) extCount
        FROM t_xm_appconfig a
        LEFT JOIN (SELECT b1.I_ConfigId,b1.I_AppId,b2.I_Type FROM t_xm_appconfig b0,t_xm_appconfig_applist b1,t_xu_app b2
        WHERE 1=1 AND b1.I_AppId=b2.I_AppId AND b2.I_SchoolId = b0.I_SchoolId AND b0.I_ConfigId = b1.I_ConfigId
        ) b ON a.I_ConfigId=b.I_ConfigId
        WHERE 1=1
        <if test="iSchoolid != null">
            AND FIND_IN_SET(a.I_SchoolId,'${iSchoolid}')
        </if>
        <if test="name != null">
            AND a.C_Name LIKE '%${name}%'
        </if>
        <if test="appIds != null">
            AND FIND_IN_SET(b.I_AppId,'${appIds}')
        </if>
        <if test="sTime!=null">
            AND  BETWEEN #{sTime}
        </if>
        <if test="eTime!=null">
            AND #{eTime}
        </if>
        GROUP BY a.I_ConfigId
        ORDER BY a.T_UTime DESC
        <if test="isPage ==  1">
            limit #{pNum},#{pLine}
        </if>
    </select>

    <resultMap id="infoMap" type="com.fuhui.entity.txm.Appconfig">
        <id column="I_ConfigId" property="iConfigid" jdbcType="BIGINT"/>
        <result column="C_Name" property="cName" jdbcType="VARCHAR"/>
        <result column="I_SchoolId" property="iSchoolid" jdbcType="BIGINT"/>
        <result column="I_Range" property="iRange" jdbcType="TINYINT"/>
        <result column="C_RangeIds" property="cRangeids" jdbcType="VARCHAR"/>
        <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
        <result column="I_CUserId" property="iCuserid" jdbcType="BIGINT"/>
        <result column="T_UTime" property="tUtime" jdbcType="TIMESTAMP"/>
        <result column="I_UUserId" property="iUuserid" jdbcType="BIGINT"/>
        <result column="C_Remark" property="cRemark" jdbcType="VARCHAR"/>
        <result column="I_Status" property="iStatus" jdbcType="TINYINT"/>
        <collection property="applist" ofType="com.fuhui.entity.txm.AppconfigApplist">
            <id column="I_IDX" property="iIdx" jdbcType="BIGINT"/>
            <result column="I_ConfigId" property="iConfigid" jdbcType="BIGINT"/>
            <result column="I_AppId" property="iAppid" jdbcType="BIGINT"/>
            <result column="T_CTime" property="tCtime" jdbcType="TIMESTAMP"/>
            <result column="I_CUserId" property="iCuserid" jdbcType="BIGINT"/>
        </collection>
    </resultMap>

    <select id="getInfoList" resultMap="infoMap">
        SELECT a.T_UTime,a.I_ConfigId,a.C_Name,b.I_AppId
        FROM t_xm_appconfig a,t_xm_appconfig_applist b
        WHERE 1=1
        <if test="iSchoolid != -1">
            AND a.I_SchoolId=#{iSchoolid}
        </if>
        <if test="configId == -1">
            AND a.I_Range=0
        </if>
        AND a.I_Status=1
        <if test="configId != -1">
            AND a.I_ConfigId = #{configId}
        </if>
        <if test="appConfigTime != null">
            AND a.T_UTime > #{appConfigTime}
        </if>
        AND a.I_ConfigId=b.I_ConfigId
        ORDER BY a.T_UTime DESC LIMIT 0,1
    </select>


    <select id="selectBySchoolId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_xm_appconfig
        where I_SchoolId = #{schoolId}
        ORDER BY T_UTime DESC LIMIT 0,1
    </select>
</mapper>